h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

p {
  text-align: center;
}

.well {
  background-color: #c1c1a0;
  outline-color: #c3c4a2
}

body {
  background-color: grey;
}

.outputAnswer {
  display: none;
}
